.sidebar-container{
    background-color: rgb(117, 116, 116);
    height: 100vh;
    overflow: hidden;
}

.carousel-item img{
    height: 50vh;
    width: 50vh;
}
.sidebar-content-section{
    position: relative;
    cursor: pointer;
}

.section-number span{
    font-size: 30px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border: 1px solid;
	border-radius: 50%;
}

.ball{
    min-height: 100px;
    min-width: 100px;
    border-radius: 50%;
    background-color: seagreen;
}

.logo-fill{
    fill: greenyellow;
}